*{
      font-family: "Inter", sans-serif;

}
.spacingyaxis{
    margin-bottom: 13px;
}
.padingclass{

 
    text-align: center;
    margin-top: 15px;
}
.fontparagraph{
font-size: 16px;
}
.curvebox{
  border-radius: 15px;  

}
.backgroundcolour{
  background:linear-gradient(to right, #0ACEFE,#2699FB);
}
.col h4{
  color: rgb(4, 141, 220); font-weight: bold
}
 #form{
  border-bottom:1px solid #ccc; box-shadow:  0 0  2px  #ccc; width: 350px;
 }
 #banner{
  box-shadow: 0px 0px 1px #ccc
 }
 .leftbanner{
  font-size: 52px;
 }
